$white: #fff;
$black: #252525;
/* TEAL */
$teal: #00787e;
$light-teal: #dff4f5;
/* ORANGE */
$light-orange: #fdede4;
$orange: #aa4c00;
/* PINK */
$light-pink: #f9eaf1;
$pink: #c41565;
/* YELLOW */
$light-yellow: #fef9ef;
$yellow: #8c6400;
